{%- if article and article != empty -%}
  <a href='{{ article.url }}' class='recipe-card-link x-w-full x-h-full'>
    <div class='recipe-card__wrapper x-relatve x-bg-white x-rounded-[16px] x-w-full'>
      <div class='recipe-card__imaage cta__image  x-w-full x-pb-[75%] x-!bg-cover !x-inline-grid x-relative'>
        <img
          loading='lazy'
          class='x-absolute x-top-0 x-left-0 x-bottom-0 x-right-0 x-block x-w-full x-h-full x-max-w-full x-rounded-t-[16px] x-object-cover x-object-center'
          src='{{ article.image | image_url }}{{ article.image.src.width }}'
          alt='{{ article.image.alt | escape }}'
          width='{{ article.image.src.width }}'
          height='{{ article.image.height }}'
        >
      </div>
      <div class='recipe-card__content x-py-8'>
        <h2 class='card__heading !x-text-xl x-font-semibold x-max-w-[200px] x-text-center x-mx-auto !x-mb-2'>
          {{ article.title | truncate: 50 | escape }}
        </h2>
      </div>
    </div>
  </a>
{%- endif -%}
