<div class='card'>
  {%- if show_image == true and article.image -%}
    <div class='article-card__image-wrapper card__media'>
      <div
        class='article-card__image media media--hover-effect'
        {% if section.settings.media_height == 'adapt' %}
          style='padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;'
        {% endif %}
      >
        {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
        <img
          srcset='
            {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
            {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ article.image.src | image_url }} {{ article.image.src.width }}w
          '
          src='{{ article.image.src | image_url: width: 533 }}'
          sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)'
          alt='{{ article.image.src.alt | escape }}'
          class='motion-reduce'
          {% unless lazy_load == false %}
            loading='lazy'
            {% comment %}Add a low-resolution placeholder image here{% endcomment %}
            data-src='{{ article.image.src | image_url: width: 20, format: 'jpg' }}'
          {% endunless %}
          width='{{ article.image.width }}'
          height='{{ article.image.height }}'
        >
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
      </div>
    </div>
  {%- endif -%}

  <h2 class='title'>{{ article.title }}</h2>
</div>
