<section class='content-chunk__home-hero-banner x-flex x-items-center x-relative x-py-16'>
  <div class='page-width x-w-full'>
    <div class='x-grid x-grid-cols-12 x-items-center'>
      <div class='x-col-span-4'>
        <div class='x-grid x-gap-10 x-justify-items-start'>
          <h2>
            {{ section.settings.heading }}
          </h2>
          <a class='tfw-btn__main' href='{{ section.settings.button_link }}'>
            {{ section.settings.button_text }}
            {% render 'icon-tfw-green-arrow' %}
          </a>
        </div>
      </div>
      <div class='x-col-span-8'>
        <img
          loading='lazy'
          class='md:x-ml-auto'
          src='{{ section.settings.image | image_url: width: 864 }}'
          alt='{{ section.settings.image.alt | escape }}'
          width='{{ section.settings.image.width }}'
          height='{{ section.settings.image.height }}'
        >
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TFW CTA",
  "tag": "section",
  "class": "tfw_cta",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "TFW CTA",
      "category": "TFW",
      "settings": {}
    }
  ]
}
{% endschema %}
