{{ 'tfw-about-hero.css' | asset_url | stylesheet_tag }}

<section class='content-chunk__home-hero-banner x-flex x-items-center x-relative x-py-10 md:x-py-20'>
  <div class='page-width x-w-full'>
    <div class='content__top x-grid lg:x-grid-cols-2 x-gap-10 x-items-center'>
      <img
        loading='eager'
        class='x-max-h-[350px] x-w-auto x-mx-auto md:x-max-h-full'
        src='{{ section.settings.banner_image | image_url: width: 700 }}'
        alt='{{ section.settings.banner_image.alt | escape }}'
        width='{{ section.settings.banner_image.width }}'
        height='{{ section.settings.banner_image.height }}'
      >
      <div>
        <div class='x-grid x-max-w-[540px]'>
          {% render 'tfw-breadcrumbs' %}
          <h1 class='x-leading-[1.1] x-mb-8 x-max-w-[450px]'>{{ section.settings.heading }}</h1>
          <div class='global-p__wrapper x-max-w-[800px] x-mx-auto x-relative'>
            <div
              class='text-curtain x-absolute x-top-[49px] x-left-0 x-right-0 x-bottom-0 x-w-full x-h-[calc(100%-49px)] !x-block x-bg-farmer-linear x-opacity-100'
            ></div>
            <div class='text-wrapper'>
              {{ section.settings.hero_text }}
            </div>
            <p class='tfw-btn__main read-more__btn !x-absolute x-bottom-[20%] x-left-0 x-z-10 x-cursor-pointer'>
              Read more
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% javascript %}
  jQuery(function ($) {
    $('.read-more__btn').on('click', function () {
      $('.text-curtain').css('opacity', '0');
      $(this).css('visibility', 'hidden');
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "home_hero",
  "settings": [
    {
      "type": "header",
      "content": "Hero"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "hero_text",
      "label": "Text",
      "default": "<p>Welcome to my shop!</p>"
    }
  ]
}
{% endschema %}
