{{ 'tfw-market-stall-accordion.css' | asset_url | stylesheet_tag }}

<section class='content-chunk__footer-market-stall x-bg-framer-cream x-rounded-t-16 -x-mb-14 x-px-5 x-py-10 sm:x-px-10 sm:x-py-14 lg:x-px-16 x-relative'>
  <div class='page-width !x-mb-14'>
    <div class='accordion__wrapper'>
      {% assign blogHandle = 'market-stalls' %}

      {% for article in blogs[blogHandle].articles limit: 1 %}
        <div id='accordion-header' class='x-flex x-justify-between x-items-center x-cursor-pointer'>
          <div>
            {% liquid
              assign marketDate = article.metafields.custom.market_date
              assign current_date = 'now' | date: '%Y-%m-%d'
              assign market_date_comparison = marketDate | date: '%Y-%m-%d'

              if market_date_comparison > current_date
                echo '<p>Next Market Stall:</p>'
              elsif market_date_comparison == current_date
                echo "<p>Today's Market Stall:</p>"
              else
                echo '<p>Recent Market Stall:</p>'
              endif
            %}

            <h2 class='x-flex'>
              {{ article.title }}
              {% render 'icon-tfw-info' %}
            </h2>
          </div>
          <div>
            <p class='x-inline-flex x-items-center x-gap-4 x-text-farmer-lime x-font-semibold x-relative'>
              <span class='open-close__text'>Expand market details</span>
              {% render 'tfw-icon-plus' %}
              {% render 'tfw-icon-minus' %}
            </p>
          </div>
        </div>
        <div class='accordion-content x-hidden x-mt-10'>
          <div class='x-flex md:x-gap-14'>
            <div class='market__date x-ease-in-out x-duration-300 x-translate-y-2 x-opacity-0'>
              <p class='x-text-sm x-text-farmer-green x-font-semibold x-mb-2'>Date</p>
              <p>
                {% liquid
                  if marketDate
                    assign day = marketDate | date: '%-d'
                    assign month_year = marketDate | date: '%B, %Y'

                    case day
                      when '1', '21', '31'
                        assign daySuffix = 'st'
                      when '2', '22'
                        assign daySuffix = 'nd'
                      when '3', '23'
                        assign daySuffix = 'rd'
                      else
                        assign daySuffix = 'th'
                    endcase

                    echo '' | append: day | append: daySuffix | append: ' ' | append: month_year
                  endif
                %}
              </p>
            </div>
            <div class='market__time x-ease-in-out x-duration-[400ms] x-translate-y-2 x-opacity-0'>
              <p class='x-text-sm x-text-farmer-green x-font-semibold x-mb-2'>Time</p>
              <p>{{ article.metafields.custom.market_start_time }} - {{ article.metafields.custom.market_end_time }}</p>
            </div>
            <div class='market__location x-ease-in-out x-duration-500 x-translate-y-2 x-opacity-0'>
              <p class='x-text-sm x-text-farmer-green x-font-semibold x-mb-2'>Address</p>
              <p>{{ article.metafields.custom.market_location }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% javascript %}
  jQuery(function ($) {
    // Market Stall Accordion
    $('.content-chunk__footer-market-stall').on('click', '#accordion-header', function (e) {
      e.preventDefault();

      $(this).toggleClass('selected');
      $(this).next('.accordion-content').slideToggle(200);

      var accordionContent = $(this).next('.accordion-content');
      var accordionText = $('.open-close__text'); // Get the accordion text element

      if ($(this).hasClass('selected')) {
        accordionText.text('Close market details');
        setTimeout(function () {
          accordionContent.addClass('accord--open');
        }, 150); // Wait for 1 second before adding the class
      } else {
        accordionText.text('Expand market details');
        accordionContent.removeClass('accord--open');
      }
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Market Stall",
  "presets": [
    {
      "name": "Market Stall",
      "category": "TFW",
      "settings": {}
    }
  ]
}
{% endschema %}
