{% comment %} {{ 'component-article-card.css' | asset_url | stylesheet_tag }} {% endcomment %}

<section class='content-chunk__home-hero-banner x-flex x-items-center x-relative x-py-16'>
  <div class='page-width x-w-full'>
    <div class='x-grid x-grid-cols-12 x-items-center'>
      <div class='x-col-span-4'>
        <div class='x-grid x-gap-10 x-justify-items-start'>
          <div class='x-font-semibold x-text-farmer-black x-text-xl md:x-text-5xl md:x-leading-[1.1em]'>
            {{ section.settings.heading }}
          </div>
          <h1 class='x-max-w-[400px] !x-text-[17px] !x-font-normal'>{{ section.settings.banner_text }}</h1>
          <a href='{{ section.settings.button_link }}'>{{ section.settings.button_text }}</a>
        </div>
      </div>
      <div class='x-col-span-8'>
        <img
          loading='eager'
          class='md:x-ml-auto'
          src='{{ section.settings.banner_image | image_url: 'master' }}'
          alt='{{ section.settings.banner_image.alt | escape }}'
          width='{{ section.settings.banner_image.width }}'
          height='{{ section.settings.banner_image.height }}'
        >
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home Hero Banner",
  "tag": "section",
  "class": "home_hero",
  "settings": [
    {
      "type": "header",
      "content": "Content Left"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "banner_text",
      "label": "Text",
      "default": "Welcome to my shop!"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Content Right"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}
